<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="container">
            <div class="row">
              <div class="col">
                <h1>Chat</h1>
                <form onsubmit="addMessage(this)">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">eMail</span>
                        <input type="email" class="form-control" name="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Mensaje</span>
                        <input type="text" class="form-control" name="messages" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </form>
            </div>
            <br>
            <div class="row">
                <h1>Mensajes:</h1>
                <br>
                <div id='messages'></div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>